.container {
  width: 90%;
  min-height: 70vh;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  text-shadow: 5px 5px 5px #aaa;
}

.number {
  font-size: 80px;
}

.copy {
  font-size: 40px;
}

@media (min-width: 800px) {
  .number {
    font-size: 100px;
  }

  .copy {
    font-size: 50px;
  }
}
