.nav {
  width: 100%;
  background-color: #f8f6f6;
}

.navUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5%;
  font-size: 12px;
}

.item,
.logo {
  list-style: none;
}

.item {
  -webkit-transition: text-shadow 0.2s;
  -o-transition: text-shadow 0.2s;
  transition: text-shadow 0.2s;
}

.item:hover {
  text-shadow: -0.06ex 0 0 currentColor, 0.06ex 0 0 currentColor;
}
@supports (-webkit-text-stroke-width: 0.04ex) {
  /* 2017+, mobile 2022+ */
  .item:hover {
    text-shadow: -0.03ex 0 0 currentColor, 0.03ex 0 0 currentColor;
    -webkit-text-stroke-width: 0.04ex;
  }
}

.logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
  background-color: #f8f6f6;
}

.itemLink {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 0;
  color: black;
}

.logo {
  width: 200px;
}

.rightOptins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 250px;
}

.cartWidgetContainer,
.whatsAppWidgetContainer {
  position: relative;
  color: black;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.whatsAppWidgetContainer {
  width: 250px;
}

.cartWidgetContainer:hover .cartIcon,
.whatsAppWidgetContainer:hover .whatsAppIcon {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.whatsAppWidgetContainer:hover .whatsAppIcon {
  color: #25d366;
}

.cartIcon,
.whatsAppIcon {
  font-size: 1.8rem;
  padding: 3px;
  color: black;
}

.numberOfItems {
  font-size: 9px;
  position: absolute;
  top: 32px;
  right: 17px;
  z-index: 10;
  background-color: black;
  color: white;
  border-radius: 15px;
  height: 14px;
  width: 14px;
  text-align: center;
}
