.container {
  padding: 20px 0;
  width: 100%;
  background-color: #e9e9e9;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.whatsAppIcon,
.gitHubIcon {
  font-size: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.whatsAppIcon {
  color: #25d366;
}

.gitHubIcon {
  color: #333;
}

@media (min-width: 500px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
